* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body {
    background: #E5E5E5;
    overflow-x: hidden;
}

.nav-top {
    z-index: 1;
    width: 100vw;
    display: flex;
    align-items: top;
    position: fixed;
}

.menu-top {
    background: #FFFFFF;
    width: 100%;
    display: list-item;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.menu-top div {
    padding: 20px 50px;
    font-size: 30px;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s;
}

.menu-top div span {
    position: absolute;
    color: #FCA311;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    left: 0;
    top: 100%;
    border-bottom: 5px solid #FCA311;
}

.menu-top div:hover {
    transform: translateY(-100%);
}

.nav-side {
    z-index: 2;
    height: 100vh;
    width: 12vw;
    display: flex;
    position: fixed;
    transition: transform 300ms ease-in;
}

.menu-side {
    background: #000000;
    height: 100%;
    width: 100%;
    display: list-item;
    overflow: hidden;
}

.menu-side div {
    padding: 50px 20px;
    font-size: 30px;
    cursor: pointer;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.menu-side p {
    font-size: 70%;
}

.nav-cover {
    z-index: 1;
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    transition: transform 10ms ease-in, opacity 300ms ease-in;
}

.navbar-cover-hidden {
    transform: translateX(-100vw);
    opacity: 0;
    transition: opacity 300ms ease-out, transform 10ms ease-out;
}

.navbar-hidden {
    transform: translateX(-12vw);
    transition: transform 300ms ease-out;
}

span a {
    text-decoration: none;
    color: #FCA311;
}

.top a {
    text-decoration: none;
    color: #FFFFFF;
    transition: color 300ms linear;
}

.top a:hover {
    color: #FCA311;
    transition: color 300ms linear;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.menu-side .logo {
    font-size: 10vw;
}

.hoverable {
    transition: color 0.5s
}

.hoverable:hover {
    color: #FCA311;
    transition: color 0.5s;
}

.page-content {
    padding-top: 7vh;
    height: 93vh;
}

.login-box {
    width: calc(100% - 16vw);
    height: calc(100% - 8vw);
    margin: 8vw;
    display: flex;
}

.admin-box {
    width: calc(100% - 16vw);
    height: calc(100% - 8vw);
    margin: 8vw;
    display: flex;
    background-color: white;
}

.login-inputs {
    position: relative;
    width: 90%;
    left: 10%;
    height: 28vh;
}

.login-left {
    width: 49%;
    height: 100%;
    background: white;
    border-radius: 5vh 0 0 5vh;
}

.login-fade {
    width: 2%;
    height: 100%;
    background-image: linear-gradient(to right, white, black);
}

.login-title {
    margin-left: 15%;
    margin-top: 7%;
    font-size: 5vh;
    color: #000;
}

.login-right {
    width: 49%;
    height: 100%;
    background: black;
    border-radius: 0 5vh 5vh 0;
    overflow-y: overlay;
    scrollbar-color: white;
    scrollbar-face-color: #FCA311;
}

.login-right::-webkit-scrollbar {
    overflow: overlay;
}

.login-right::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.login-right::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5vh;
}

.login-inputs {
    position: relative;
    width: 90%;
    left: 10%;
    height: 28vh;
}

.input-container {
    display: grid;
    width: 100%;
    height: 9vh;
    overflow: hidden;
    position: relative;
    margin-top: 5vh;
}

.input-container label {
    position: absolute;
    top: 3vh;
    font-size: 3vh;
    width: 75%;
    transition: 0.25s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-container label {
    cursor: text;
}

input.text-input {
    display: block;
    width: 75%;
    padding-top: 3vh;
    border: none;
    border-radius: 0;
    font-size: 3vh;
    transition: 0.3s ease;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

input.text-input::-webkit-outer-spin-button,
input.text-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-hidden {
    display: none;
}

input.text-input:valid~label {
    top: 0;
    font-size: 1.8vh;
}

input.text-input:focus {
    outline: none;
}

input.text-input:focus~label {
    top: 0;
    font-size: 1.8vh;
    color: #FCA311;
}

input.text-input:focus~.bar:before {
    transform: translateX(0);
}

input.text-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #E5E5E5 inset;
    -webkit-text-fill-color: black !important;
}

.bar {
    content: "";
    width: 75%;
    height: .3vh;
    transition: 0.3s ease;
    position: relative;
}

.bar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150%;
    background: #FCA311;
    transform: translateX(-100%);
}

::selection {
    background: #FCA31175;
}

.button-container {
    overflow: visible;
    display: grid;
    width: 100%;
    height: 9vh;
    position: relative;
    margin-top: 5vh;
}

.submit-button {
    width: 75%;
    height: 90%;
    border: none;
    border-radius: 5vh;
    background: #FFFFFF;
    color: #000000;
    font-size: 2.5vh;
    transition: background 300ms ease-in, color 300ms ease-in, transform 300ms ease-in;
}

.login-left .bar,
.login-left .submit-button {
    background: #000000;
    color: white;
}

.login-left input.text-input,
.login-left label,
.login-left .login-title {
    color: black;
    background: white;
}

.login-right .bar,
.login-right .submit-button {
    background: white;
    color: black;
}

.login-right input.text-input,
.login-right label,
.login-right .login-title {
    color: white;
    background: black;
}

.submit-button:hover {
    transform: scale(103%);
    color: #FCA311;
    transition: color 300ms ease-out, transform 300ms ease-out;
}

.login_state {
    width: 90%;
    display: block;
    margin-left: 10%;
    margin-top: 5%;
    color: red;
    font-size: 2vh;
}

.login_state_hidden {
    display: none;
}